/*
	Base layer with global definitions
	of CSS styles
*/

@theme base {
    --color-white: rgba(255, 255, 255, 1);
    --color-light-grey: rgba(229, 218, 218, 1);
    --color-grey: rgba(150, 158, 164, 1);
    --color-dark: rgba(181, 163, 151, 1);
    --color-darkest: rgba(48, 35, 29, 1);
    --color-pink: rgba(255, 51, 204, 1);
    --color-purple: rgba(121, 59, 238, 1);
    --color-purple-darker: rgba(80, 26, 150, 1);
    --color-blue-dark: rgba(41, 14, 151, 1);
    --color-green-lighter: rgb(129, 254, 113);

    --font-inter: 'Inter', sans-serif;
    --box-sizing: border-box;
    --font-default: 1.4rem;

    --text-s: 1.6rem;
    --text-m: 2.4rem;
    --text-l: 3.6rem;
    --text-xl: 4.8rem;

    --breakpoint-xl: 93.75em;
    --breakpoint-lg: 56.25em;
    --breakpoint-md: 40.625em;
    --breakpoint-sm: 30em;
    --breakpoint-xs: 25em;
    --breakpoint-xxs: 20em;
}

@custom-variant laptop (@media screen and (max-width: 93.75em));
@custom-variant tablet (@media screen and (max-width: 56.25em and (min-width: 40.625em));
@custom-variant phone (@media screen and (max-width: 40.625em) and (min-width: 30em));
@custom-variant smphone (@media screen and (max-width: 30em) and (min-width: 25em));
@custom-variant xsmphone (@media screen and  (max-width: 25em) and (min-width: 20em));
@custom-variant xxsmphone (@media screen and (max-width: 20em));


@layer base {

    @font-face {
        @apply font-inter;
    }

    html {
        /* 62,5% * 16px -> 1rem - 10px -*/
        @apply text-[62.5%] m-0 p-0 h-full;
        @apply xxsmphone:text-[20%] xsmphone:text-[35%] smphone:text-[50%] phone:text-[62.5%] tablet:text-[62.5%] laptop:text-[75%];
        @apply antialiased;

    }

    body {
        @apply box-border h-full font-inter bg-white;
    }
}
